In [ ]:
#Build decision tree model to predict survival based on certain parameters

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [32]:
inputs = df.drop('Survived',axis='columns')

In [33]:
target = df['Survived']

In [34]:
from sklearn.preprocessing import LabelEncoder
le_Age = LabelEncoder()
le_Pclass = LabelEncoder()
le_Embarked = LabelEncoder()

In [35]:
inputs['Age_n'] = le_Age.fit_transform(inputs['Age'])
inputs['Pclass_n'] = le_Pclass.fit_transform(inputs['Pclass'])
inputs['Embarked_n'] = le_Embarked.fit_transform(inputs['Embarked'])

In [36]:
inputs

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_n,Pclass_n,Embarked_n
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,28,2,2
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,51,0,0
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,34,2,2
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,47,0,2
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,47,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,35,1,2
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,24,0,2
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,88,2,2
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,34,0,0
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,42,2,1

In [37]:
inputs_n = inputs.drop(['Age','Pclass','Cabin','Name','PassengerId','Sex','SibSp','Parch','Ticket','Fare','Embarked'],axis='columns')

In [38]:
inputs_n

     Age_n  Pclass_n  Embarked_n
0       28         2           2
1       51         0           0
2       34         2           2
3       47         0           2
4       47         2           2
..     ...       ...         ...
886     35         1           2
887     24         0           2
888     88         2           2
889     34         0           0
890     42         2           1

[891 rows x 3 columns]

In [39]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [40]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [41]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [42]:
model.score(inputs_n,target)

0.8002244668911336

In [48]:
#0	C (Cherbourg)
#1	Q (Queenstown)
#2	S (Southampton)

#0	1st Class
#1	2nd Class
#2	3rd Class

In [49]:
#“A 51-year-old passenger in 2nd class, who embarked at Southampton survive or not

In [46]:
model.predict([[51,2,0]])

c:\users\asus\appdata\local\programs\python\python38\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)